<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Log Java - Blog</title>
  <th:block th:insert="~{/layout/logjava::link}"></th:block>
  <th:block th:insert="~{/layout/logjava::head/script}"></th:block>
  <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/super-build/ckeditor.js"></script>
  <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
  <script src="https://cdn.ckbox.io/CKBox/1.3.2/ckbox.js"></script>
  <style>

  </style>
</head>

<body>
  <div th:replace="~{/layout/logjava::loading}"></div>
  <div class="wrap">
    <header th:replace="~{/layout/logjava::header}"></header>
    <section class="site-section py-sm">
      <div class="container">
        <div class="row mb-4 mt-4">
          <div class="col-md-6">
            <h1>Blog editor</h1>
          </div>
        </div>
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="title">Tiêu đề bài viết</label>
                <input type="text" id="title" class="form-control ">
                <input type="hidden" id="userId" th:value="${userSession.id}">
              </div>
              <div class="col-md-12 form-group">
                <label for="shortDescription">Miêu tả ngắn</label>
                <input type="text" id="shortDescription" class="form-control ">
              </div>
              <div class="col-md-12 form-group">
                <option value="">Chọn loại bài viết</option>
                <select class="form-control" id="categoryCode" name="categoryCode">
                  <th:block th:each="category:${categoryPost}">
                    <option th:value="${category.code}">
                      <th:block th:text="${category.name}"></th:block>
                    </option>
                  </th:block>
                </select>
              </div>
              <div class="col-md-12 form-group">
                <label>Ảnh bài viết</label>
                <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                  <input type="file" name="files" id="fImage" accept=".jpg, .png" /><br />
                  <div class="row">
                    <div class="col-md-10">
                      <div class="progress mt-2 mb-2" style="padding-bottom: 40px;">
                        <div class="progress-bar bg-success" role="progressbar"
                        aria-valuemin="0" aria-valuemax="100" style="width:0%;height: 40px;">
                        0%
                        </div>
                    </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="btn btn-success mt-2 mb-2" value="Upload" id="submitButton" />
                    </div>
                  </div>
                  <input type="hidden" id="result" />
                </form>
                <h3>Xem trước:</h3>
                <div style="border:1px solid #ccc;padding: 5px;">
                  <img id="pic1" height="100%" width="100%">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="editor">Nội dung bài viết</label>
                <textarea name="message" id="editor" class="form-control " cols="20" rows="40"></textarea>
                <script>
                  let editor
                  CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
                      // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
                      toolbar: {
                        items: [
                          'findAndReplace', 'selectAll', '|',
                          'heading', '|',
                          'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                          'bulletedList', 'numberedList', 'todoList', '|',
                          'outdent', 'indent', '|',
                          'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                          'alignment', '|',
                          'link', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                          'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                          'textPartLanguage', '|',
                          'sourceEditing','ckfinder','undo', 'redo','ckbox', 'uploadImage'
                        ],
                        shouldNotGroupWhenFull: true
                      },
                    ckbox: {
                      // The development token endpoint is a special endpoint to help you in getting started with
                      // CKEditor Cloud Services.
                      // Please note the development token endpoint returns tokens with the CKBox administrator role.
                      // It offers unrestricted, full access to the service and will expire 30 days after being used for the first time.
                      // -------------------------------------------------------------
                      // !!! You should not use it on production !!!
                      // -------------------------------------------------------------
                      // Read more: https://ckeditor.com/docs/ckbox/latest/guides/configuration/authentication.html#token-endpoint

                      // You need to provide your own token endpoint here
                      tokenUrl: 'https://96468.cke-cs.com/token/dev/IsmAQxbYI3jdqqoyqMbeOhBEhIAGyMDZepN0?limit=10'
                    },
                      // ckfinder: {
                      //   // Upload the images to the server using the CKFinder QuickUpload command.
                      //   uploadUrl: '/ckfinder/connector?command=QuickUpload&type=Files&responseType=json',
                      //   // Define the CKFinder configuration (if necessary).
                      //   options: {
                      //     resourceType: 'Files'
                      //   }
                      // },
                      // Changing the language of the interface requires loading the language file using the <script> tag.
                      // language: 'es',
                      list: {
                        properties: {
                          styles: true,
                          startIndex: true,
                          reversed: true
                        }
                      },
                      // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
                      heading: {
                        options: [
                          { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                          { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                          { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                          { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                          { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                          { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                          { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                        ]
                      },
                      // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
                      placeholder: 'Nội dung của blog viết ở đây bạn nhé !',
                      // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
                      fontFamily: {
                        options: [
                          'default',
                          'Arial, Helvetica, sans-serif',
                          'Courier New, Courier, monospace',
                          'Georgia, serif',
                          'Lucida Sans Unicode, Lucida Grande, sans-serif',
                          'Tahoma, Geneva, sans-serif',
                          'Times New Roman, Times, serif',
                          'Trebuchet MS, Helvetica, sans-serif',
                          'Verdana, Geneva, sans-serif'
                        ],
                        supportAllValues: true
                      },
                      // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
                      fontSize: {
                        options: [ 10, 12, 14, 'default', 18, 20, 22 ],
                        supportAllValues: true
                      },
                      // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
                      // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
                      htmlSupport: {
                        allow: [
                          {
                            name: /.*/,
                            attributes: true,
                            classes: true,
                            styles: true
                          }
                        ]
                      },
                      // Be careful with enabling previews
                      // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
                      htmlEmbed: {
                        showPreviews: true
                      },
                      // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
                      link: {
                        decorators: {
                          addTargetToExternalLinks: true,
                          defaultProtocol: 'https://',
                          toggleDownloadable: {
                            mode: 'manual',
                            label: 'Downloadable',
                            attributes: {
                              download: 'file'
                            }
                          }
                        }
                      },
                      // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
                      mention: {
                        feeds: [
                          {
                            marker: '@',
                            feed: [
                              '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                              '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                              '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                              '@sugar', '@sweet', '@topping', '@wafer'
                            ],
                            minimumCharacters: 1
                          }
                        ]
                      },
                    removePlugins: [
                      // These two are commercial, but you can try them out without registering to a trial.
                      // 'ExportPdf',
                      // 'ExportWord',
                      'CKFinder',
                      'EasyImage',
                      // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
                      // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
                      // Storing images as Base64 is usually a very bad idea.
                      // Replace it on production website with other solutions:
                      // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
                      // 'Base64UploadAdapter',
                      'RealTimeCollaborativeComments',
                      'RealTimeCollaborativeTrackChanges',
                      'RealTimeCollaborativeRevisionHistory',
                      'PresenceList',
                      'Comments',
                      'TrackChanges',
                      'TrackChangesData',
                      'RevisionHistory',
                      'Pagination',
                      'WProofreader',
                      // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
                      // from a local file system (file://) - load this site via HTTP server if you enable MathType
                      'MathType'
                    ]
                    }).then(newEditor => {
                    editor = newEditor;
                  }).catch(error => {
                            console.error(error);
                          });
                </script>
              </div>
            </div>
            <div class="row">
          </div>
        </div>
        <div class="col-md-12 col-lg-4 sidebar">
          <div th:replace="~{/layout/logjava::search}"></div>
          <div th:replace="~{/layout/logjava::avatar}"></div>
          <div th:replace="~{/layout/logjava::popular-post}"></div>
          <div th:replace="~{/layout/logjava::categories}"></div>
          <div th:replace="~{/layout/logjava::tag}"></div>
        </div>
      </div>
    </section>
    <footer th:replace="~{layout/logjava::footer}"></footer>
  </div>
  <div id="toast"></div>
  <script>
    $(document).ready(function () {
      $("#submitButton").click(function (event) {
        // Stop default form Submit.
        event.preventDefault();
        ajaxSubmitForm();
      });
    });

    function ajaxSubmitForm() {
      // Get form
      var form = $('#fileUploadForm')[0];
      var data = new FormData(form);

      $("#submitButton").prop("disabled", true);

      $.ajax({
        xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);
                            $('.progress-bar').width(percentComplete + '%');
                            $('.progress-bar').html(percentComplete + '%');
                        }
                    }, false);

                    return xhr;
                },
        type: "POST",
        enctype: 'multipart/form-data',
        url: "/api/v1/firebase/upload",
        data: data,
        // prevent jQuery from automatically transforming the data into a query string
        processData: false,
        contentType: false,
        cache: false,
        timeout: 1000000,
        success: function (data, textStatus, jqXHR) {
          console.log(data);
          showSuccessUploadImageToast();
          $("#result").val(data);
          $("#pic1").attr("src", data);
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log("ERROR : ", jqXHR.responseText);
        }
      });
    }
    function showSuccessUploadImageToast() {
      toast({
        title: "Upload ảnh thành công !",
        message: "Ảnh preview sẽ được load phía dưới.",
        type: "success",
        duration: 5000
      });
    }
  </script>

  <script>
    $('#btnSubmit').click(function (e) {
      e.preventDefault();
      var data = {};
      data["title"] = $('#title').val();
      data["shortDescription"] = $('#shortDescription').val();
      data["categoryCode"] = $('#categoryCode').val();
      data['image'] = $('#result').val();
      data["content"] = editor.getData();
      data["userId"] = $('#userId').val();
      console.log(data);
      addNewPost(data);
    });

    function addNewPost(data) {
      $.ajax({
        url: '/api/v1/post',
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        dataType: 'json',
        success: function (result) {
          showSuccessToast();
          setTimeout(function () {
            window.location.href = "/home";
          }, 5000);
        },
        error: function (error) {
          console.log(error);
        }
      });
    }

    function showSuccessToast() {
      toast({
        title: "Đăng blog thành công!",
        message: "Hệ thống sẽ chuyển về trang chủ trong giây lát !",
        type: "success",
        duration: 5000
      });
    }
  </script>

  <!--  Comment-->

  <th:block th:insert="~{layout/logjava::script}"></th:block>
</body>

</html>