<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Log Java - Blog</title>
  <th:block th:insert="~{/layout/logjava::link}"></th:block>
  <th:block th:insert="~{/layout/logjava::head/script}"></th:block>
  <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/super-build/ckeditor.js"></script>
  <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
</head>

<body>
  <div th:replace="~{/layout/logjava::loading}"></div>
  <div class="wrap">
    <header th:replace="~{/layout/logjava::header}"></header>
    <section class="site-section py-sm">
      <div class="container">
        <div class="row mb-4 mt-4">
          <div class="col-md-6">
            <h1>Chỉnh sửa bài viết</h1>
          </div>
        </div>
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="title">Tiêu đề bài viết</label>
                  <input type="text" id="title" th:value="${post.title}" class="form-control ">
                  <input type="hidden" id="userId" th:value="${userSession.id}">
                  <input type="hidden" id="postId" th:value="${post.id}">
                </div>
                <div class="col-md-12 form-group">
                  <label for="shortDescription">Miêu tả ngắn</label>
                  <input type="text" th:value="${post.shortDescription}" id="shortDescription" class="form-control ">
                </div>
                <div class="col-md-12 form-group">
                  <option value="">Chọn loại bài viết</option>
                  <select class="form-control" id="categoryCode" name="categoryCode">
                    <option th:each="category : ${categoryPost}" th:value="${category.code}" th:text="${category.name}"
                            th:selected="${post.categoryName==category.name}"></option>
                  </select>
                </div>
                <div class="col-md-12 form-group">
                  <label>Ảnh bài viết</label>
                  <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                    <input type="file" name="files" id="fImage" accept=".jpg, .png" /><br />
                    <input type="submit" class="btn btn-success mt-2" value="Upload" id="submitButton"/>
                    <input type="hidden" id="result"/>
                  </form>
                  <h3>Xem trước:</h3>
                  <div style="border:1px solid #ccc;padding: 5px;">
                    <img id="pic1" th:src="@{${'/'+post.image}}" height="100%" width="100%">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="editor">Nội dung bài viết</label>
                  <textarea name="message" id="editor" class="form-control " cols="20" rows="40" th:text="${post.content}"></textarea>
                  <script>
                    let editor
                    CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
                        // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
                        toolbar: {
                          items: [
                            'findAndReplace', 'selectAll', '|',
                            'heading', '|',
                            'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                            'bulletedList', 'numberedList', 'todoList', '|',
                            'outdent', 'indent', '|',
                            'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                            'alignment', '|',
                            'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                            'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                            'textPartLanguage', '|',
                            'sourceEditing','ckfinder','undo', 'redo',
                          ],
                          shouldNotGroupWhenFull: true
                        },
                        ckfinder: {
                          // Upload the images to the server using the CKFinder QuickUpload command.
                          uploadUrl: '/ckfinder/connector?command=QuickUpload&type=Files&responseType=json',
                          // Define the CKFinder configuration (if necessary).
                          options: {
                            resourceType: 'Files'
                          }
                        },
                        // Changing the language of the interface requires loading the language file using the <script> tag.
                        // language: 'es',
                        list: {
                          properties: {
                            styles: true,
                            startIndex: true,
                            reversed: true
                          }
                        },
                        // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
                        heading: {
                          options: [
                            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                            { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                            { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                            { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                            { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                            { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                            { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                          ]
                        },
                        // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
                        placeholder: 'Nội dung của blog viết ở đây bạn nhé !',
                        // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
                        fontFamily: {
                          options: [
                            'default',
                            'Arial, Helvetica, sans-serif',
                            'Courier New, Courier, monospace',
                            'Georgia, serif',
                            'Lucida Sans Unicode, Lucida Grande, sans-serif',
                            'Tahoma, Geneva, sans-serif',
                            'Times New Roman, Times, serif',
                            'Trebuchet MS, Helvetica, sans-serif',
                            'Verdana, Geneva, sans-serif'
                          ],
                          supportAllValues: true
                        },
                        // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
                        fontSize: {
                          options: [ 10, 12, 14, 'default', 18, 20, 22 ],
                          supportAllValues: true
                        },
                        // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
                        // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
                        htmlSupport: {
                          allow: [
                            {
                              name: /.*/,
                              attributes: true,
                              classes: true,
                              styles: true
                            }
                          ]
                        },
                        // Be careful with enabling previews
                        // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
                        htmlEmbed: {
                          showPreviews: true
                        },
                        // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
                        link: {
                          decorators: {
                            addTargetToExternalLinks: true,
                            defaultProtocol: 'https://',
                            toggleDownloadable: {
                              mode: 'manual',
                              label: 'Downloadable',
                              attributes: {
                                download: 'file'
                              }
                            }
                          }
                        },
                        // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
                        mention: {
                          feeds: [
                            {
                              marker: '@',
                              feed: [
                                '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                                '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                                '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                                '@sugar', '@sweet', '@topping', '@wafer'
                              ],
                              minimumCharacters: 1
                            }
                          ]
                        },
                      removePlugins: [
                        // These two are commercial, but you can try them out without registering to a trial.
                        // 'ExportPdf',
                        // 'ExportWord',
                        'CKBox',
                        'CKFinder',
                        'EasyImage',
                        // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
                        // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
                        // Storing images as Base64 is usually a very bad idea.
                        // Replace it on production website with other solutions:
                        // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
                        // 'Base64UploadAdapter',
                        'RealTimeCollaborativeComments',
                        'RealTimeCollaborativeTrackChanges',
                        'RealTimeCollaborativeRevisionHistory',
                        'PresenceList',
                        'Comments',
                        'TrackChanges',
                        'TrackChangesData',
                        'RevisionHistory',
                        'Pagination',
                        'WProofreader',
                        // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
                        // from a local file system (file://) - load this site via HTTP server if you enable MathType
                        'MathType'
                      ]
                      }).then(newEditor => {
                      editor = newEditor;
                    }).catch(error => {
                              console.error(error);
                            });
                  </script>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <a href="#" type="submit" id="btnSubmit" class="btn btn-primary mb-3">Cập nhật bài viết</a>
                </div>
              </div>
          </div>

          <!--Navbar -->
          <div class="col-md-12 col-lg-4 sidebar">
            <div th:replace="~{/layout/logjava::search}"></div>
            <div th:replace="~{/layout/logjava::avatar}"></div>
            <div th:replace="~{/layout/logjava::popular-post}"></div>
            <div th:replace="~{/layout/logjava::categories}"></div>
            <div th:replace="~{/layout/logjava::tag}"></div>
          </div>
        </div>
      </div>
    </section>
    <footer th:replace="~{layout/logjava::footer}"></footer>
  </div>
  <div id="toast"></div>
  <script  th:inline="javascript" type="text/javascript">
    $(document).ready(function() {
      $("#submitButton").click(function(event) {
        event.preventDefault();
        ajaxSubmitForm();
      });
    });

    function ajaxSubmitForm() {
      // Get form
      var form = $('#fileUploadForm')[0];
      var data = new FormData(form);

      $("#submitButton").prop("disabled", true);
      $.ajax({
        type: "POST",
        enctype: 'multipart/form-data',
        url: "/api/v1/upload/image",
        data: data,
        // prevent jQuery from automatically transforming the data into a query string
        processData: false,
        contentType: false,
        cache: false,
        timeout: 1000000,
        success: function(data) {
          console.log(data);
          showSuccessToast2();
          $("#result").val(data);
          $("#pic1").attr("src", data);
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
    function showSuccessToast2() {
      toast({
        title: "Upload ảnh thành công !",
        message: "Ảnh preview sẽ được load ở phía dưới !",
        type: "success",
        duration: 5000
      });
    }
  </script>

  <script th:inline="javascript" type="text/javascript">
    $('#btnSubmit').click(function (e){
      e.preventDefault();
      var data = {};
      data["id"]=$('#postId').val();
      data["title"]= $('#title').val();
      data["shortDescription"] = $('#shortDescription').val();
      data["categoryCode"] = $('#categoryCode').val();
      data['image'] = $('#result').val();
      data["content"] = editor.getData();
      data["userId"] = $('#userId').val();
      console.log(data);
      updatePost(data);
    });
    function updatePost(data){
      $.ajax({
        url:'/api/v1/post',
        type:'PUT',
        data:JSON.stringify(data),
        contentType:'application/json',
        success:function (result){
          showSuccessToast();
          setTimeout(function(){
            window.location.href = "/home";
          },1000);
        },
        error:function (error){
          console.log(error);
        }
      });
    }
    function showSuccessToast() {
      toast({
        title: "Cập nhật bài viết thành công !",
        message: "Hệ thống sẽ chuyển về trang chủ trong vài giây !",
        type: "success",
        duration: 5000
      });
    }
  </script>

<!--  Comment-->

  <th:block th:insert="~{layout/logjava::script}"></th:block>
</body>

</html>