<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Log Java - Bài viết</title>
    <th:block th:insert="~{/layout/logjava::link}"></th:block>
    <th:block th:insert="~{/layout/logjava::head/script}"></th:block>
    <style>
                .image > img {
            width: 100vh;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <header th:replace="~{/layout/logjava::header}"></header>
        <section class="site-section py-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="mb-4 mt-4">Bài viết</h2>
                    </div>
                </div>
                <div class="row blog-entries">
                    <div class="col-md-12 col-lg-8 main-content">
                        <!-- <img th:src="@{${'/'+post.image}}" alt="Image" class="img-fluid mb-5"> -->
                        <h1 class="mb-4" th:text="${post.title}"></h1>
                        <input type="hidden" th:value="${post.id}" id="postId">
                        <div class="post-meta">
                            <span class="author mr-2"><img style="height: 30px;"
                                    th:src="@{${'/'+post.userModel.getImage}}" alt="Colorlib" class="mr-2"
                                    th:text="${post.userModel.getFullname}" onError="this.src='/images/avatar.png'"></span>&bullet;
                            <span class="mr-2" th:text="${post.date}"></span> &bullet;
                            <th:block th:if="${userSession}">
                                <th:block th:if="${post.userId==userSession.id}">
                                    <a th:href="@{/edit-post/{id}(id=${post.id})}" class="category"
                                        style="background-color:#5BC0DE;">Cập nhật</a>
                                    <a href="#" id="btnDeletePost" class="category"
                                        style="background-color:#C82333;">Xoá</a>
                                </th:block>
                            </th:block>

                        </div>
                        <span class="category mb-3" style="background:#80EA6E;color: #111111!important;">
                            <th:block th:text="${post.categoryName}"></th:block>
                        </span>
                        <div class="post-content-body">
                            <th:block th:utext="${post.content}"></th:block>
                        </div>
                        <div class="pt-5">
                            <h3 class="mb-4">Bình luận</h3>
                            <ul class="comment-list">
                                <th:block th:each="comment:${comments}">
                                    <li class="comment" th:if="${comment.comment.getContent!=null}">
                                        <div class="vcard">
                                            <img th:src="@{${'/'+comment.userModel.getImage}}" alt="Image placeholder" onError="this.src='/images/avatar.png'">
                                        </div>
                                        <div class="comment-body">
                                            <h3 th:text="${comment.userModel.getFullname}"></h3>
                                            <div class="meta" th:text="${comment.comment.getCreatedDate}"></div>
                                            <p th:text="${comment.comment.getContent}"></p>
                                            <th:block th:if="${userSession}">
                                                <p th:if="${comment.userModel.getFullname==userSession.fullname}"><a
                                                        href="#" id="btnDeleteComment" class="category"
                                                        style="background: #C82333 !important;">Xoá</a></p>
                                            </th:block>
                                        </div>
                                    </li>
                                </th:block>
                            </ul>
                            <div class="comment-form pt-5 mt-2">
                                <th:block th:if="${userSession}">
                                    <h3 class="mb-2">Để lại bình luận</h3>
                                    <form class="p-4 form-inline bg-light">
                                        <div class="form-group mb-2">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <span class="author mr-4">
                                                        <img th:src="@{${'/'+userSession.image}}" class="rounded-circle"
                                                            alt="Image placeholder" width="50vh" height="50vh" onError="this.src='/images/avatar.png'" >
                                                    </span>
                                                </div>
                                                <div class="col-sm-10">
                                                    <textarea type="text" class="form-control-range mr-5" id="comment"
                                                        placeholder="Viết bình luận "></textarea>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-sm rounded" id="btnComment"
                                                style="margin-left: 12px;">Bình
                                                luận</button>
                                        </div>
                                    </form>
                                </th:block>
                                <th:block th:unless="${userSession}">
                                    <h3 class="mb-2">Đăng nhập để bình luận bài viết</h3>
                                    <a th:href="@{/login-page}" class="btn btn-success mb-2">Đăng nhập</a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 sidebar">
                        <div th:replace="~{/layout/logjava::search}"></div>
                        <div th:replace="~{/layout/logjava::avatar}"></div>
                        <div th:replace="~{/layout/logjava::popular-post}"></div>
                        <div th:replace="~{/layout/logjava::categories}"></div>
                        <div th:replace="~{/layout/logjava::tag}"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-exclamation-triangle p-1 text-danger" aria-hidden="true"></i>
                    <h5 class="modal-title">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xoá bài viết không ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="delete">Có</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="noDelete">Không</button>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{layout/logjava::footer}"></footer>
    <div id="toast"></div>
    <!--Comment-->
    <script th:inline="javascript" th:if="${userSession!=null}">
        $('#btnComment').click(function (e) {
            e.preventDefault();
            var comment = {};
            comment["content"] = $('#comment').val();
            comment['userId'] = [(${userSession.id})];
            comment["postId"] = [(${post.id})];
            var cmt = comment["content"];
            console.log(comment);
            addNewComment(comment);
            $('#comment').val(null);
        });
        
        function addNewComment(data) {
            $.ajax({
                url: '/api/v1/comment',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    $('.comment-list').append(`<li class="comment">
                  <div class="vcard">
                    <img src="[(${'/' + userSession.image})]" alt="Image placeholder" onError="this.src='/images/avatar.png'">
                  </div>
                  <div class="comment-body">
                    <h3>[(${userSession.fullname})]</h3>
                    <div class="meta">${result.createdDate}</div>
                    <p>${result.content}</p>
                    <p><a href="#" id="btnDeleteComment" class="category" style="background: #C82333 !important;">Xoá</a></p>
                  </div>
                </li>`);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        var modal = $('.modal');
        $('#btnDeletePost').click(function (e) {
            e.preventDefault();
            var data = {};
            data["id"] = $('#postId').val();
            modal.show();
            $('#delete').click(function () {
                deletePost(data);
                modal.hide();
            });
            $('#noDelete').click(function () {
                modal.hide();
            });
            $(window).on('click', function (e) {
                if ($(e.target).is('.modal')) {
                    modal.hide();
                }
            });
        })

        function deletePost(data) {
            $.ajax({
                url: '/api/v1/post',
                type: 'DELETE',
                data: JSON.stringify(data),
                contentType: 'application/json',
                // dataType: 'json',
                success: function (result) {
                    showSuccessToast();
                    setTimeout(function () {
                        window.location.href = "/home";
                    }, 3000);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function showSuccessToast() {
            toast({
                title: "Xoá bài viết thành công !",
                message: "Hệ thống sẽ chuyển về trang chủ trong giây lát !",
                type: "warning",
                duration: 5000
            });
        }
    </script>
    <!--Post-->
       
    <th:block th:insert="~{layout/logjava::script}"></th:block>
</body>

</html>