<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Log Java - Bài viết</title>
    <th:block th:insert="~{/layout/logjava::link}"></th:block>
    <th:block th:insert="~{/layout/logjava::head/script}"></th:block>
    <style>
        #status {
            width: 200px;
            height: 200px;
            position: fixed;
            left: 50%;
            z-index: 100;
            top: 50%;
            background-image: url('../static/images/Ring-1s-200px.gif');
            background-repeat: no-repeat;
            background-position: center;
            margin: -100px 0 0 -100px;
            z-index: 1001
        }

        #loader {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #FFF;
            z-index: 1000
        }
    </style>
    <script>
        $(window).bind("load", function () {
            jQuery("#status").fadeOut(2000);
            jQuery("#loader").fadeOut(2000);
        });
    </script>
</head>

<body>
    <div id='status'></div>
    <div id='loader'></div>
    <div class="wrap">
        <header th:replace="~{/layout/logjava::header}"></header>
        <section class="site-section py-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="mb-4 mt-4">Bài viết</h2>
                    </div>
                </div>
                <div class="row blog-entries">
                    <div class="col-md-12 col-lg-8 main-content">
                        <!-- <img th:src="@{${'/'+post.image}}" alt="Image" class="img-fluid mb-5"> -->
                        <h1 class="mb-4" th:text="${post.title}"></h1>
                        <div class="post-meta">
                            <span class="author mr-2"><img th:src="@{${'/'+post.userModel.getImage}}" alt="Colorlib"
                                    class="mr-2" th:text="${post.userModel.getFullname}"></span>&bullet;
                            <span class="mr-2" th:text="${post.createdDate}"></span> &bullet;
                            <th:block th:if="${userSession}">
                                <th:block th:if="${post.userId==userSession.id}"><a th:href="@{/edit-post/{id}(id=${post.id})}" class="category" style="background-color:#5BC0DE;">Chỉnh sửa</a></th:block>
                            </th:block>
                            
                        </div>
                        <span class="category mb-3"  style="background:#80EA6E;color: #111111!important;">
                            <th:block th:text="${post.categoryName}"></th:block>
                        </span>
                        <div class="post-content-body">
                            <th:block th:utext="${post.content}"></th:block>
                        </div>
                        <div class="pt-5">
                            <h3 class="mb-4">Bình luận</h3>
                            <ul class="comment-list">
                                    <th:block th:each="comment:${comments}">
                                        <li class="comment" th:if="${comment.comment.getContent!=null}">
                                            <div class="vcard">
                                                <img th:src="@{${'/'+comment.userModel.getImage}}"
                                                    alt="Image placeholder">
                                            </div>
                                            <div class="comment-body">
                                                <h3 th:text="${comment.userModel.getFullname}"></h3>
                                                <div class="meta" th:text="${comment.comment.getCreatedDate}"></div>
                                                <p th:text="${comment.comment.getContent}"></p>
                                                <th:block th:if="${userSession}">
                                                    <p th:if="${comment.userModel.getFullname==userSession.fullname}"><a href="#" id="btnDeleteComment" class="category" style="background: #C82333 !important;">Xoá</a></p>
                                                </th:block>
                                            </div>
                                        </li>

                                </div>
                            </ul>
                            <div class="comment-form pt-5">
                                <th:block th:if="${userSession}">
                                    <h3 class="mb-2">Để lại bình luận</h3>
                                    <form class="p-4 form-inline bg-light">
                                        <div class="form-group mb-2">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <span class="author mr-4">
                                                        <img th:src="@{${'/'+userSession.image}}" class="rounded-circle"
                                                            alt="Image placeholder" width="50vh" height="50vh">
                                                    </span>
                                                </div>
                                                <div class="col-sm-10">
                                                    <textarea type="text" class="form-control-range mr-5" id="comment"
                                                        placeholder="Viết bình luận "></textarea>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-sm rounded" id="btnComment"
                                                style="margin-left: 12px;">Bình
                                                luận</button>
                                        </div>
                                    </form>
                                </th:block>
                                <th:block th:unless="${userSession}">
                                    <h3 class="mb-2">Đăng nhập để bình luận bài viết</h3>
                                    <a th:href="@{/login-page}" class="btn btn-success mb-2">Đăng nhập</a>
                                </th:block>
                            </div>
                            <!-- END comment-list -->
                        </div>
                        <div class="col-md-12 col-lg-4 sidebar">
                            <div th:replace="~{/layout/logjava::search}"></div>
                            <div th:replace="~{/layout/logjava::avatar}"></div>
                            <div th:replace="~{/layout/logjava::popular-post}"></div>
                            <div th:replace="~{/layout/logjava::categories}"></div>
                            <div th:replace="~{/layout/logjava::tag}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/logjava::footer}"></footer>
    </div>
    <script>
    // var editor = '';
    // $(document).ready(function () {
    //     editor = CKEDITOR.replace('comment');
    // });
    // $('#btnSubmit').click(function (e) {
    //     e.preventDefault();
    //     var obj = editor.getData();
    //     console.log(obj);
    // })
    </script>
    <!--Comment-->
    <script th:inline="javascript" th:if="${userSession!=null}">
        $('#btnComment').click(function (e) {
            e.preventDefault();
            var comment = {};
            comment["content"] = $('#comment').val();
            comment['userId'] = [(${ userSession.id })];
        comment["postId"] = [(${ post.id })];
        console.log(comment);
        addNewComment(comment);
        $('#comment').val(null);
    });
        function addNewComment(data) {
            $.ajax({
                url: '/api/v1/comment',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    $('.comment-list').append(`<li class="comment">
                  <div class="vcard">
                    <img src="[(${'/' + userSession.image})]" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>[(${userSession.fullname})]</h3>
                    <div class="meta">${result.createdDate}</div>
                    <p>${result.content}</p>
                    <p><a href="#" id="btnDeleteComment" class="category" style="background: #C82333 !important;">Xoá</a></p>
                  </div>
                </li>`);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
    <th:block th:insert="~{layout/logjava::script}"></th:block>
</body>

</html>