<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Log Java</title>
    <th:block th:insert="~{/layout/logjava::link}"></th:block>
    <th:block th:insert="~{/layout/logjava::head/script}"></th:block>
</head>

<body>
    <div class="wrap">
        <header th:replace="~{/layout/logjava::header}"></header>
        <section class="site-section py-sm">
            <div class="container">
                <div class="row blog-entries">
                        <section style="background-color: #eee;">
                            <div class="container py-5">
                              <div class="row">
                                <div class="col">
                                  <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                                    <ol class="breadcrumb mb-0">
                                      <li class="breadcrumb-item active" aria-current="page">Trang cá nhân</li>
                                    </ol>
                                  </nav>
                                </div>
                              </div>
                          
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="card mb-4">
                                    <div class="card-body text-center">
                                      <img th:src="@{${'/'+userSession.image}}" alt="avatar"
                                        class="rounded-circle img-fluid" style="width: 150px;height: 150px;" onError="this.src='/images/thumbnail.png'">
                                      <h5 class="my-3" th:text="${userSession.username}" id="imgAvatar"></h5>
                                      <input type="hidden" th:value="${userSession.id}" id="idUser">
                                      <button class="btn btn-success" id="avatar">Thay đổi avatar</button>
                                      <p class="text-muted mb-1">Backend Developer</p>
                                      <div class="d-flex justify-content-center mb-2">
                                        
                                        <button type="button" class="btn btn-primary">Follow</button>
                                        <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card mb-4 mb-lg-0">
                                    <div class="card-body p-0">
                                      <ul class="list-group list-group-flush rounded-3">
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                          <i class="fa fa-github fa-lg" style="color: #333333;"></i>
                                          <p class="mb-0">link</p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                          <i class="fa fa-twitter fa-lg" style="color: #55acee;"></i>
                                          <p class="mb-0">link</p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                          <i class="fa fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                          <p class="mb-0">link</p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                          <i class="fa fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                          <p class="mb-0">link</p>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="card mb-4">
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="mb-0">Tên</p>
                                        </div>
                                        <div class="col-sm-9">
                                          <p class="text-muted mb-0" th:text="${userSession.fullname}"></p>
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                          <p class="text-muted mb-0" th:text="${userSession.email}"></p>
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <p class="mb-0">Đia chỉ</p>
                                        </div>
                                        <div class="col-sm-9">
                                          <p class="text-muted mb-0">xxxx</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="row mb-5">
                                        <div class="col-md-12 mb-2">
                                          <h2>Bài viết của tôi</h2>
                                          <th:block th:each="post:${postUser}"
                                          <div class="post-entry-horzontal">
                                            <a href="#">
                                              <div class="row">
                                                <div class="col-md-4">
                                              <img class="image" style="width: 100%;" th:src="@{${'/'+post.image}}" onError="this.src='/images/thumbnail.png'">
                                                </div>
                                                <div class="col-md-8">
                                                  <span class="text">
                                                    <div class="post-meta">
                                                      <span class="author mr-2" >
                                                        <img class="mr-2" style="height: 40px;width: 40px;" th:src="${userSession.image}" alt="anh"><th:block th:text="${userSession.fullname}"></th:block>
                                                      </span>&bullet;
                                                      <span class="mr-2" th:text="${post.date}"></span> &bullet;
                                                    </div>
                                                    <h2 th:text="${post.title}"></h2>
                                                  </span>
                                                </div>
                                              </div>
                                            </a>
                                          </div>
                                          </th:block>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/logjava::footer}"></footer>
    </div>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-info-circle text-info p-1" aria-hidden="true"></i>
                    <h5 class="modal-title">Thay đổi ảnh đại diện</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                        <input type="file" name="files" id="fImage" accept=".jpg, .png" /><br />
                        <input type="submit" class="btn btn-success mt-2 mb-2" value="Upload" id="submitButton" />
                        <input type="hidden" id="result" />
                        <img alt="avatar" id="pic1" style="object-fit: cover;height: 100px;width: 100px;border-radius: 50%;">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger text-center" id="updateAvatar">OK</button>
                    <button type="button" class="btn btn-secondary text-center" data-dismiss="modal" id="noDelete">Huỷ</button>
                </div>
            </div>
        </div>
        <div id="toast"></div>
    <script th:inline="javascript" type="text/javascript">
        var modal = $('.modal');
        var image;
        var dataImg = {};
        $('#avatar').click(function (e) {
            e.preventDefault();
            modal.show();
            $('#submitButton').click(function(e){
                e.preventDefault();
                ajaxSubmitForm();
            });
            $('#updateAvatar').click(function (e1) {
                e1.preventDefault();
                dataImg["image"]=image;
                dataImg["id"]=$('#idUser').val();
                console.log(dataImg);
                updateAvatar(dataImg);
                setTimeout(function () {
                  modal.hide();
                    }, 3000);
            });
            $('#noDelete').click(function () {
                modal.hide();
            });
            $('.close').click(function () {
                modal.hide();
            });
        })
        function ajaxSubmitForm() {
      // Get form
      var form = $('#fileUploadForm')[0];
      var data = new FormData(form);
      $("#submitButton").prop("disabled", true);
      $.ajax({
        type: "POST",
        enctype: 'multipart/form-data',
        url: "/api/v1/upload/image",
        data: data,
        // prevent jQuery from automatically transforming the data into a query string
        processData: false,
        contentType: false,
        cache: false,
        timeout: 1000000,
        success: function (data, textStatus, jqXHR) {
            showSuccessToast()
          $("#result").val(data);
          $("#pic1").attr("src", data);
          image = data;
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log("ERROR : ", jqXHR.responseText);
        }
      });
    }

    function updateAvatar(data){
      $.ajax({
        type: "PUT",
        url: "/api/v1/user/profile/avatar",
        data: JSON.stringify(data),
        contentType:"application/json",
        success: function (result) {
            console.log(result);
            showSuccessToast2();
            $('#imgAvatar').removeAttr('src');
            $('#imgAvatar').attr("src", image);
        },
        error: function (error) {
          console.log("ERROR : ",error);
        }
      });
    }

    function showSuccessToast() {
      toast({
        title: "Thông báo!",
        message: "Upload ảnh lên máy chủ thành công !",
        type: "success",
        duration: 5000
      });
    }
    function showSuccessToast2() {
      toast({
        title: "Thông báo!",
        message: "Cập nhật ảnh đại diện thành công !",
        type: "success",
        duration: 5000
      });
    }
    </script>
    <th:block th:insert="~{layout/logjava::script}"></th:block>
</body>

</html>