<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body>
    <main class="container">
        <div class="col-md-12 form-group">
            <label>Ảnh bài viết</label>
            <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                <input type="file" name="files" id="fImage" accept=".jpg, .png" /><br />
                <input type="submit" class="btn btn-success mt-2 mb-2" value="Upload" id="submitButton" />
                <input type="hidden" id="result" />
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped 
                    active" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    0%
                    </div>
                </div>
            </form>
            <h3>Xem trước:</h3>
            <div style="border:1px solid #ccc;padding: 5px;">
                <img id="pic1" height="100%" width="100%">
            </div>
        </div>
        </div>
    </main>

    <script>
        $(document).ready(function () {
            $("#submitButton").click(function (event) {
                // Stop default form Submit.
                event.preventDefault();
                ajaxSubmitForm();
            });
        });

        function ajaxSubmitForm() {
            // Get form
            var form = $('#fileUploadForm')[0];
            var data = new FormData(form);

            $("#submitButton").prop("disabled", true);

            $.ajax({
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();

                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);
                            $('.progress-bar').width(percentComplete + '%');
                            $('.progress-bar').html(percentComplete + '%');
                        }
                    }, false);

                    return xhr;
                },
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/api/v1/firebase/upload",
                data: data,
                // prevent jQuery from automatically transforming the data into a query string
                processData: false,
                contentType: false,
                cache: false,
                timeout: 1000000,
                success: function (data, textStatus, jqXHR) {
                    console.log(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("ERROR : ", jqXHR.responseText);
                }
            });
        }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
        </script>
</body>

</html>