<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/images/icons8-oak-leaf-32.png" th:href="@{/images/icons8-oak-leaf-32.png}" type="image/png"
  sizes="32x32">

  <title>Log Java - Đăng nhập</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/fonts/fontawesome/css/font-awesome.min.css}">
  <script src="../jquery/jquery-3.6.4.min.js" th:src="@{/jquery/jquery-3.6.4.min.js}" ></script>
  <link rel="stylesheet" th:href="@{/css/toast.css}">
  <style>
    html,
    body {
      height: 100%;
    }

    body {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .form-control:focus {
      border-color: #CDDC39;
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    }
  </style>
  <link rel="stylesheet" th:href="@{/css/loading.css}">
</head>

<body>
  <div class="se-pre-con">
  </div>
<form class="form-signin text-center">
  <img class="mb-4 text-center" src="./images/icons8-oak-leaf-96.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal text-center" style="color: #C2CE34;">Log Java</h1>
  <p>Chia sẻ và học hỏi kiến thức một cách dễ dàng hơn.</p>
  <label for="username" class="sr-only">Tài khoản</label>
  <input type="text" id="username" class="form-control mb-2" placeholder="Tài khoản" required>
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" class="form-control" placeholder="Mật khẩu" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Ghi nhớ tài khoản
    </label>
  </div>
  <button class="btn btn-lg btn-success btn-block mb-2" type="submit" id="btnSubmit">Đăng nhập</button>
  <a class="btn" href="#" style="color:#52BFA1;" id="btnRegister">Đăng ký tài khoản mới</a>
  <a class="btn" th:href="@{/home}" style="color:#52BFA1;">Quay về trang chủ</a>
  <p class="mt-5 mb-3 text-muted">Log Java &copy; 2023</p>
</form>
<div class="modal" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Đăng ký tài khoản mới</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-2">
          <i class="fa fa-user" aria-hidden="true"></i>
          <label data-error="wrong" data-success="right" for="username-">Tên đăng nhập</label>
          <span class="text-danger">*</span><span class="text-danger" id="username_error"></span>
          <input type="text" class="form-control validate username">
        </div>
        <div class="md-form mb-2">
          <i class="fa fa-info" aria-hidden="true"></i>
          <label data-error="wrong" data-success="right" for="fullname">Tên đầy đủ</label>
          <span class="text-danger">*</span>
          <input type="email" id="fullname" class="form-control validate fullname">
        </div>
        <div class="md-form mb-2">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <label data-error="wrong" data-success="right" for="email">Email</label>
          <span class="text-danger">*</span><span class="text-danger" id="email_error"></span>
          <input type="email" id="email" class="form-control validate email">
        </div>
        <div class="md-form mb-2">
          <i class="fa fa-lock prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="password">Mật khẩu</label>
          <span class="text-danger">*</span><span class="text-danger" id="password_error"></span>
          <input type="password"  class="form-control validate password">
        </div>
        <div class="md-form mb-2">
          <i class="fa fa-lock prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="repassword">Xác nhận mật khẩu</label>
          <span class="text-danger">*</span><span class="text-danger" id="passcheck"></span>
          <input type="password" id="repassword" class="form-control validate repassword">
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-success" id="register">Đăng ký</button>
      </div>
    </div>
  </div>
</div>

<div id="toast"></div>


<script th:src="@{/js/toast.js}"></script>
<script type="text/javascript" th:inline="javascript">
  var modal = $('.modal');
  // register 
  $('#btnRegister').click(function(e){
    e.preventDefault();
    modal.show();
    var dataUser = {};
    var flag = false;
    var username = $.trim($('.username').val());
    var password = $.trim($('.password').val());
    var email = $.trim($('.email').val());

    $('.repassword').keyup(function(e){
      var repassword = $('.repassword').val();
        if(password!=repassword){
          $('#passcheck').text("Mật khẩu không khớp");
          flag =false;
       }else{
          $('#passcheck').text("");
          flag = true;
       }
      })
    $('#register').click(function(e){
      e.preventDefault();
      var username = $.trim($('.username').val());
      var password = $.trim($('.password').val());
      var email = $.trim($('.email').val());
      if (username == '' || username.length < 4){
            $('#username_error').text(' Tên đăng nhập phải lớn hơn 4 ký tự');
            flag = false;
        }
        else{
            $('#username_error').text('');
            flag = true;
        }
      if(password.match(/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/)){
        $('#password_error').text('');
        flag = true;
      }else{
        $('#password_error').text(' Mật khẩu phải có chữ in hoa, chữ thường và ký tự đặc biệt');
        flag = false;
      }
      if(email.match(/[A-Z0-9._%+-]+@[A-Z0-9-]+.+.[A-Z]{2,4}/igm)){
        $('#email_error').text('');
        flag = true;
      }else{
        $('#email_error').text(' Email không đúng định dạng');
        flag=false;
      }
      if(flag==true){
        dataUser["usename"] = usename;
        dataUser["fullname"]=fullname;
        dataUser["email"]=email;
        dataUser["password"] = password
        console.log(dataUser);
      }
    })

    $('.close').click(function(e){
      modal.hide();
    })
  })


  // login
  $('#btnSubmit').click(function(e){
    e.preventDefault();
    var data = {};
    data["username"] = $('#username').val();
    data["password"] = $('#password').val();
    login(data);
  });
  function login(data) {
      $.ajax({
        url: '/api/v1/user/login',
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        dataType: 'json',
        success: function (result) {
          showSuccessToast();
          setTimeout(function () {
            window.location.href = "/home";
          },500);
        },
        error: function (error) {
          showErrorToast();
          $('#username').val(null);
          $('#password').val(null);
        }
      });
    }
  function showErrorToast() {
    toast({
        title: "Đăng nhập thất bại !",
        message: "Tài khoản hoặc mật khẩu không đúng",
        type: "error",
        duration: 5000
    });
}
function showWarnigToast() {
    toast({
        title: "Thông báo",
        message: "Bạn phải đăng nhập để viết blog !",
        type: "warning",
        duration: 5000
    });
}
function showSuccessToast() {
      toast({
        title: "Đăng nhập thành công !",
        message: "Hệ thống sẽ chuyển về trang chủ trong vài giây !",
        type: "success",
        duration: 5000
      });
    }
</script>
<script src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/jquery-migrate-3.0.0.js" th:src="@{/js/jquery-migrate-3.0.0.js}"></script>
<script src="../static/js/loading.js" th:src="@{/js/loading.js}"></script>
</body>
</html>
